@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 191, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 191, 255, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 191, 255, 0);
    }
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a1e28;
} */

.circle {
    width: 20px;
    height: 20px;
    background-color: #00d0ff;
    border-radius: 50%;
    position: relative;
    animation: pulse 2s infinite;
}
