 
@import "node_modules/react-modal-video/scss/modal-video.scss";
@import "slick-carousel/slick/slick.css"; 
@import "~bootstrap/scss/bootstrap";
@import "swiper/css/bundle";
@import "/public/assets/scss/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');



* {
  font-family: 'Noto Sans Lao',sans-serif;
}

.htmlbranch{
  p{
    text-align: justify;
    font-size: 20px;
    line-height: 2rem;
    color: black;
  }
}

.htmlvision {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
  }
}

.htmlslogan {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 40px;
    color: white;
    line-height: 3rem;
  }
}

.htmlnews{
  p{
    text-align: justify;
    font-size: 18px;
    line-height: 2rem;
    color: black;
  }
}