 
@import "node_modules/react-modal-video/scss/modal-video.scss";
@import "slick-carousel/slick/slick.css"; 
@import "~bootstrap/scss/bootstrap";
@import "swiper/css/bundle";
@import "/public/assets/scss/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');


:root {
  --clr: #007bff; /* Default color */
}
 
* {
  font-family: 'Noto Sans Lao',sans-serif;
}

// html {
//   filter: grayscale(100%);
// }

.htmlbranch{
  p{
    text-align: justify;
    font-size: 20px;
    line-height: 2rem;
    color: black;
  }
}

.htmlvision {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    margin-left: 23px;
  }
}

.firstSentence {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
  }
}

.htmlslogan {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 40px;
    color: white;
    line-height: 3rem;
  }
}

.htmlnews{
  p{
    text-align: justify;
    font-size: 18px;
    line-height: 2rem;
    color: black;
  }
}

.htmljobs {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .img-responsive-left,
  .img-responsive-right {
    width: 50px !important;
  }

  .setfontbranch {
    font-size: 2px;
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .img-responsive-left,
  .img-responsive-right {
    width: 50px !important;
  }

  .setfontbranch {
    font-size: 2px;
  }
}

.custom-btn {
  padding: 9px 18px;
  border: none;
  outline: none;
  color: #000000;
  cursor: pointer;
  position: relative;
  z-index: 1; /* Ensure the button itself stays above the pseudo-elements */
  border-radius: 12px;
  background-color: #FFFB00; /* Button background color */
  overflow: hidden; /* Ensures no content spills outside the border */
}

.custom-btn::after {
  content: "";
  z-index: -2; /* Set to ensure this element stays below the other elements */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFB00; /* Matches button's background */
  left: 0;
  top: 0;
  border-radius: 10px;
}

.custom-btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1; /* Ensures it's behind the button text */
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0; /* Hidden by default, shown on hover */
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* Hover state */
.custom-btn:hover::before {
  opacity: 1; /* Glowing effect becomes visible */
}

.custom-btn:active::after {
  background: transparent; /* Removes the button background on active state */
}

.custom-btn:active {
  color: #000;
  font-weight: bold;
}
