 
@import "node_modules/react-modal-video/scss/modal-video.scss";
@import "slick-carousel/slick/slick.css"; 
@import "~bootstrap/scss/bootstrap";
@import "swiper/css/bundle";
@import "/public/assets/scss/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');



* {
  font-family: 'Noto Sans Lao',sans-serif;
}

.htmlbranch{
  p{
    text-align: justify;
    font-size: 20px;
    line-height: 2rem;
    color: black;
  }
}

.htmlvision {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    margin-left: 23px;
  }
}

.firstSentence {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
  }
}

.htmlslogan {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 40px;
    color: white;
    line-height: 3rem;
  }
}

.htmlnews{
  p{
    text-align: justify;
    font-size: 18px;
    line-height: 2rem;
    color: black;
  }
}

.htmljobs {
  p{
    font-family: 'Noto Sans Lao',sans-serif;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .img-responsive-left,
  .img-responsive-right {
    width: 50px !important;
  }

  .setfontbranch {
    font-size: 2px;
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .img-responsive-left,
  .img-responsive-right {
    width: 50px !important;
  }

  .setfontbranch {
    font-size: 2px;
  }
}